{{#each collections.status-updates }}
<div class="rounded pb-4">
    <div id="header" class="flex items-center">
        {{!-- TODO: Put emoji --}}
        <p class="h-6 w-6 align-baseline">></p>
        <div id="title" class="font-bold">
            <span class="text-gray-400">{{ this.data.year }}</span> - {{ this.data.title }}
        </div>
    </div>
    <div>
        {{{ this.templateContent }}}
    </div>
</div>
{{/each}}